<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
<meta charset="utf-8" />
<title>Set Criteria</title>
<!-- Latest compiled and minified CSS -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- Optional theme -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	rel="stylesheet" />

<link href="../../../css/amaStyle.css" th:href="@{/css/amaStyle.css}"
	rel="stylesheet" media="screen" />

<script src="http://code.jquery.com/jquery-1.11.0.js"></script>


<!-- JQuery - Shortcut for content delivery network - this help to web page load faster-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script
	src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>

<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
	<div th:include="fragments/sidebar" th:remove="tag"></div>
	<div th:include="fragments/script" th:remove="tag"></div>
	
		<div class="container-fluid">
		<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-2">
			<h2 class="page-header">Set Criteria</h2>
			<div>
					<form th:object = "${criteria}">
						<div>
							<table class="table" id="critTable">
								<thead>
									<tr>
										<th>Description</th>
						                <th>Possible Marks</th>
						                <th>&nbsp;</th>
									</tr>
								</thead>
<!-- 								<tbody th:each="crit : ${criteriaList}">
--> 								<tbody th:each="crit : ${criteriaList}">	
							<tr>
									<!-- <td><input type="checkbox" name="chk"/></td>-->
									<!-- <td>1</td> -->
									<td th:text="${crit.description}">[description]</td>
									<td th:text="${crit.possibleMarks}">[possibleMarks]</td>
								</tr>
								</tbody>
							</table>
							</div>
							</form>
					</div>
					<div>
								<a th:href="@{|/lecturer/setCriteria/${assignment.assignmentId}.html|}"
									href="setCriteria.html" class="btn btn-success">Set	Criteria</a>
								<a th:href="@{|/lecturer/markingsheet/${assignment.assignmentId}.html|}"
									href="markingsheet.html" class="btn btn-primary">Continue Marking</a>
					</div>
				</div>
			</div>
		<div th:include="fragments/footer :: footer"></div>
</body>
</html>